/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
}

html{
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    color: #555;
    font-family: 'Raleway';
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

h2{
    margin: 40px 0;
}

.menu__title {
    font-family: "Great Vibes", cursive;
    margin: 0 6px;
    font-weight: 400;
    font-size: 32px;
    transition: color .5s;
}

.menu__title:hover {
    color: black;
}

    /*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/


section{
    padding: 0 80px;
    margin: 80px 0;
}

/*Sección Menu*/
section.menu{
    height: 100px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

section.menu nav{
    align-items: center;
    gap: 20px;
}

.menu__list {
    gap: 10px;
    display: flex;
    align-items: center;
}

.menu__list__item {
    padding: 3px 6px;
    border-radius: 2px;
    transition: background-color .5s;
}

.menu__list__item:hover {
    background-color: #ffbfbf;
    color: #966;
}

.menu__list__item__contato{
    font-weight: bold;
    background-color: #ffcfcf;
    color: #966;
    padding: 3px 6px;
    border-radius: 2px;
    transition: box-shadow .5s;
    box-shadow: 4px 4px;
}

/*Sección Title*/

.title__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__subsection{
    font-weight: normal;
}

.title__container{
    width: 60%;
}

.title__bio{
    font-weight: 800;
    font-size: 40px;
}

.title__network a{
    background-color: #fff;
    box-shadow: 2px 2px 2px #ddd;
    padding: 3px 6px;
    border-radius: 4px;
    gap: 4px;
    display: flex;
    align-items: center;
    width: 80px;
}

.title__network a:hover{
    text-decoration: underline;
}

.title__network a img{
    width: 20px;
}

.title__profile{
    width: 250px;
    border-radius: 50%;
}

/*Sección About*/

section.about .about__title{
    text-align: center;
    margin: 20px 0;
}

/*Sección Skills*/

.skills__title{
    text-align: center;
}

.skills__line{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.skills__box {
    width: 120px;
}

.skills__box img{
    height: 50px;
    width: 50px;
    display: flex;
    margin: auto;
}

.skills__name{
    text-align: center;
    font-weight: bold;
}

/*Sección Hobbies*/

.hobbies__title{
    text-align: center;
}

.hobbies__line{
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.hobbies__box {
    width: 120px;
}

.hobbies__box img{
    height: 50px;
    width: 50px;
    display: flex;
    margin: auto;
}

.hobbies__name{
    text-align: center;
    font-weight: bold;
}

/* Experiencia Académica*/

.academic__title{
    text-align: center;
}

.academic__courses__box{
    width: 300px;
    height: 300px;
    border-radius: 4px;
    text-align: center;
}

.academic__courses__list{
    display: flex;
    justify-content: center;
}

.academic__courses{
    justify-content: space-between;
}

.academic__courses__item__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

/*Contacto*/

section.formcontato{
    margin-top: 120px;
}

.formcontato__contacto{
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}

.formcontato__form{
    gap: 10px;
}

.formcontato__input{
    display: block;
    width: 200px;
    margin: 8px 0;
    border: none;
    border-bottom: #bbb 1px solid;
    border-radius: 2px;
    outline: none;
    padding: 3px 6px;
}

.formcontato__textarea{
    display: block;
    width: 80%;
    margin: 8px 0;
    border: none;
    border-bottom: #bbb 1px solid;
    border-radius: 2px;
    outline: none;
    padding: 3px 6px;
}

.formcontato__botao{
    background-color: #444;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}

/*footeer*/

section.footer{
   text-align: center;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media screen and (max-width: 1023px) {
h2{
    margin: 10px 0;
}
    
section{
    padding: 0 10px;
    margin: 20px 0;
}

/* Menú */

section.menu{
    width: full;
}

.menu__title {
    display: block;
}

.menu__list {
    display: flex;
    justify-content: center;
}

.menu__list__item {
    font-size: 14px;
    padding: 3px 6px 3px 6px;
    border-radius: 2px;
    transition: background-color .5s;
}

/*title*/

section.title{
    padding: 0 20px;
}

.title__div{
    align-items: center;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    justify-content: center;
}

.title__bio{
    text-align: center;
}

.title__container{
    width: fit-content;
}

.title__profile{
    display: block;
}

.title__network{
    justify-content: center;
}

/* Sobre mi */

section.about{
    padding: 0 20px;
}

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

section.academic{
    padding: 0 20px;
}

section.formcontato{
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

/*Mobile*/
@media screen and (max-width: 767px) {

/*Menu*/

section.menu{
    display: block;
}

.menu__title {
    display: block;
}

.menu__list {
    display: flex;
    justify-content: space-between;
}

/*Titulo*/

section.title{
    padding: 0 20px;
}

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

.academic__courses__list{
    display: grid;
    gap: 20px;
    justify-content: center;
}

/*Experiencia Profesional*/

 /*Contacto*/

section.formcontato{
    text-align: center;
    display: flex;
    justify-content: center;
}

/*Footer*/

}